/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
.body {
    background-image: url("back.jpg");
    background-size: cover;
}

.labelStyle {
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0px;
    text-align: left;
    font-family: "Times New Roman";
}

.table {
    align-content: center;
}

.error {
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: left;
    color: #850500;
    font-size: 20px;
}
